:root {
    background-color: #333;
    overflow: hidden;
}

canvas {
    width: 100%;
}

button {
    background-color: #333;
    text-decoration: none;
    border: none;
    border: 1px solid #fafafa;
    color: #fafafa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: .2s;
    font-weight: bold;
    outline: none;
}

button:hover {
    background-color: #fafafa;
    color: #333;
}

div.button-bar, div.tabs {
    text-align: center;
    background-color: #333;
}